.DS_Store
*.png
.idea/
qr_taobao_shop/
cookies.txt
*.o
*.a
*.so
*.exe
*.pyc
site/test.html
etc/tmpl/test.json
test/
shop_rate/
qr_jd_shop/
taobao_shop/
jd_shop/
zhixing/
shixin/
qr_tmall_shop/
shop_rate_jd/
wish/
hc_phone/
hc_taobao/
hc_ccrc/
euu/
euu_agent/
jd_buyer/
log/
aliexpress/
qr_suning_shop/
suning_product/
!etc/
/tianyancha/
wenshu/
tianyancha_long/
tianyancha_longtime/
tianyancha_human/
baidu_news/
baidu_news_search/
pedata_login/
pedata_search/
sogou/
*.orig
*.swo
itjuzi_gp/
itjuzi_investfirm/
itjuzi_login/
itjuzi_investevents/
itjuzi_investevents_increment/
itjuzi_person/
itjuzi_company
itjuzi_company_increment/
pedata_ep/
pedata_exit/
pedata_fund/
pedata_invest/
pedata_org/
pedata_person/
pedata_search
authcrawler_2017*
authcrawler_2018*
chinatax/
2dfire/
shop_rate_ali_phone/
shop_rate_ali_search/
shop_rate_ali_search_page/
lagou_company/
cbex/
stock_monitor/
suaee/
cnpre/
cfae/
